.stm-title{
    margin: 2% 0;
    padding: 2%;
    border: 1px solid grey;
}

.stm-display{
    border: 1px solid grey;
    padding: 3%;
}

.frm-btn button:nth-child(2){
    margin: 0 10%;
}

span {
    display: block;
    background: #8bc34a;
    float: left;
    margin: 2%;
    padding: 4%;
    width: 180px;
    color: white;
    font-size: 25px;
    text-align: center;
}

.qa-box{
    overflow: hidden;
    min-height: 350px;
}
.frm-btn{
    margin-bottom: 3%;
}