*{
    padding: 0;
    margin: 0;
}

h1{
    margin: 13% 0 10%;
    font-size: 48px;
}
form{
    width: 60%;
    margin: 0 auto;
}
.input-block{
    overflow: hidden;
    margin: 2% 0;
}
label{
    font-size: 25px;
    line-height: 45px;
}
.input-inline input {
    width: 230px;
    height: 45px;
    font-size: 20px;
    border: 1px solid grey;
    padding: 2%;
}
.btn-block,.title{text-align: center}
.btn-block button{
    font-size: 30px;
    padding: 2% 12%;
    background: #009688;
    outline: none;
    border: none;
    color: white;
    margin-top: 60px;
}