*{
    padding: 0;
    margin: 0;
}

.select-block{
    margin-top: 25%;
    overflow: hidden;
}
a{
    padding: 4% 8%;
    display: block;
    float: left;
    color: white;
    font-size: 40px;
    margin-left: 16%;
}
a:first-child{background: green}
a:nth-child(2){background: blueviolet}
a:active{color: white; text-decoration: none}

.btn-block{
    text-align: center;
    margin-top: 20%;
}

.btn-block button{
    background: #009688;
    font-size: 40px;
    outline: none;
    border: none;
    padding: 1% 10%;
    color: white;
}